@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 25px;
  background-color: rgba(255,250,247);
  text-align: center;
  color: rgba(255,250,247);
  font-family: 'Montserrat', sans-serif;

  overflow: hidden;
  touch-action: none;
  user-select: none;
}

#content {
  display: inline-block;
  margin: 0 auto;
}

#caption {
  margin: 4px 0;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2.2px;
}

#description {
  margin: 1px 0;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 0.3px;
  transform: scale(0.7);
}
